.container {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.player {
  display: flex;
  flex-direction: row;
}

.pc {
  display: flex;
  flex-direction: row;
}
